/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  /* ... */
  body{
    font-size: 0.6em;
  }
  #button-text{
    font-size:0.9em;
  }
  .userbox{
    height: 25em;
  }
  .btn-primary {
    width : 7.6em;
  }
  .col-md-6{
    padding-top:0.3em;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 601px) {
  /* ... */
  body{
    font-size: 0.9em;
  }
  .header-title{
    font-size: 0.6em;
  }
  .btn-primary {
    width : 5em;
  }
  .col-md-6{
    width: 7em;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  /* ... */
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  /* ... */
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  /* ... */
}