.sideMenu-background {
  position: fixed;
  float: inline-start;
  background-color: rgb(224, 212, 240);
  height: 100%;
  left: 0;
  top: 0;
  overflow-x: hidden;
  box-shadow: 0.2em 0 0.2em rgb(172, 169, 169);
}

.userbox {
  height: 230px;
  margin: 0.7em;
  padding: 0.4em;
}

.sideMenu-button > Button {
  margin: 0.3em;
}

.menubox {
  margin: 0.7em;
  padding: 0.4em;
  height: 70px;
  background-color: aliceblue;
}

.child {
  float: right;
  position: relative;
  bottom: -9em;
}
