.footer-background{
    background-color: rgba(68, 59, 59, 0.767);
    height: 80px;
}
.footer-background > p {
    padding-top: 0.6em;
    padding-left:7em;
    text-align: center;
    font-size: 1.7em;
}